.loader {
    color: rgb(7, 236, 76);
    text-align: center;
    margin-bottom: 10px;
}

.wrapper {
    width: 200px;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .wrapper {
        width: 500px;
        margin: 0 auto;
        padding: 100px 0;
    }
}
