.wrapper {
    display: flex;
    gap: 10px;
}

.button {
    color: rgb(85, 226, 128);
    display: inline-block;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    transition: 250ms;
    font-size: 12px;
}

.button:hover {
    color: rgb(99, 247, 0);
    border: 1px solid rgb(99, 247, 0);
}

@media screen and (min-width: 1200px) {
    .button {
        padding: 5px;
    }
}
