html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(7, 236, 76);
    background: rgb(5, 0, 12);
    font-family: var(--roboto);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 200;
    font-size: 14px;
}

@media screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}
